* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: radial-gradient(circle,
      rgb(225 172 231) 6%,
      rgba(189, 248, 255, 1) 72%,
      rgba(148, 187, 233, 1) 100%);
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 20px auto;
}

header {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  background: rgb(28, 28, 163);
  background: linear-gradient(100deg,
      rgba(28, 28, 163, 1) 0%,
      rgba(32, 179, 209, 1) 81%,
      rgba(57, 144, 180, 1) 100%);
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 45px;
}

.right {
  display: flex;
  align-items: center;
  gap: 37px;
}

.menu {
  display: flex;
  gap: 35px;
}

.menu a {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: white;
  text-decoration: none;
}

.social {
  display: flex;
  gap: 21px;
}

.social img {
  height: 30px;
  width: 30px;
}

#open_add_modal {
  cursor: pointer;
}

#open_add_modal:active {
  scale: 0.99;
}

.create {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background: linear-gradient(100deg,
      rgb(57 129 205) 0%,
      rgba(32, 179, 209, 1) 81%,
      rgb(38 223 208) 100%);
}

.create:active {
  transition: 0.5s ease-out;
  scale: 0.9;
}

.centre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.centre input {
  border: none;
  height: 40px;
  width: 400px;
  font-size: 18px;
  color: white;
  padding: 0 15px;
  background: rgb(221 215 215 / 55%);
  border-radius: 5px;
}

.centre input::placeholder {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.todos {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  padding: 24px 32px;
  height: 100%;
}

.todos .c {
  width: 100%;
}

.fill {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.logo {
  width: 100px;
  margin: -20px 0;
}



.team_board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 20px;

  background: linear-gradient(100deg,
  rgb(80, 80, 196) 0%,
  rgb(8, 214, 255) 51%,
  rgb(97, 149, 255) 100%);
  color: white;

  font-weight: 500;
  font-size: 20px;
  height: 60px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.right {
  display: flex;
    justify-content: space-around;
    align-items: center;

}
.board button {
  border: none;
  background:#e7eaf17d;
  width: 130px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.t_star button {
  border: none;
  background:#e7eaf17d;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 23px;
  border-radius: 3px;
  cursor: pointer;
}
.acme button {
  border: none;
  background:#e7eaf17d;
  width: 130px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.ex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.td {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background: palevioletred;
  cursor: pointer;
}
.inv_btn button {
  border: none;
  background:#e7eaf17d;
  width: 130px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
}

.toch {
  width: 120px;
  height: 40px;
  color: white;
  font-weight: 500;
  padding-left: 10px;
  text-align: start;
  font-size: 20px;
  border-radius: 3px;
  background:#e7eaf17d;
  cursor: pointer;
}
.c {
  background: #e9e9e9;
  border-radius: 4px;
  padding: 8px;
  min-height: 30vh;
  padding-bottom: 20px;
  /* overflow-y: scroll; */
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25); */
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  background: #e9e9e9;

  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25); */
  overflow-y: scroll;
  /* overflow: hidden; */
  padding: 12px;
  border-radius: 4px;
  min-width: 300px;
  min-width: 220px;
  min-height: 40vh;
  max-height: 60vh;

  flex-shrink: 0;
}

.empty p {
  font-size: 27px;
  font-weight: 650;
  margin-left: 10px;
  margin-top: 10px;
}

.add p {
  display: flex;
  justify-content: flex-end;
  color: gray;
  font-size: 23px;
  margin-top: 107px;
  flex-direction: column;
}

.s {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#title {
  padding: 0 0 10px 5px;
}

.pl {
  padding-top: 15px;
  font-size: 22px;
  color: grey;
  font-weight: 500;
}

.items {
  /* position: relative; */
  color: black;
  background: rgb(245, 243, 243);
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.25);
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  overflow-wrap: break-word;
}

.items h3 {
  text-transform: inherit;
  padding-left: 20px 0;
  font-size: 22px;
}

.items p {
  font-size: 18px;
  padding: 0 20px 0 0;
  color: #313131;
}

.deadline img {
  width: 20px;
  height: 20px;
}

.deadline span {
  padding-left: 5px;
}

.bottom_item {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  gap: 5px;
  align-items: center;
}

.bottom_item p {
  margin: 0;
  padding: 0;
}

.deadline {
  display: flex;
  align-items: center;
}

.deadline span {
  font-size: 15px;
}

.items p {
  margin: 0;
}

.exec-member {
  width: 20px;
  height: 20px;
}

.bottom_item img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.168);
  background: rgb(50, 50, 50);
  color: white;
}

.can-img {
  position: fixed;
  top: 90vh;
  right: 20px;
  width: 50px;
  height: 50px;
}

.edit {
  width: 20px;
  height: 20px;
  /* position: absolute; */
  top: 15px;
  right: 15px;
}

.can-img img {
  width: 100%;
  height: 100%;
}

.hold {
  cursor: pointer;
  border: 2px solid rgb(9, 234, 9);
}

.hovered {
  background: gray;
  border: 3px solid blueviolet;
}

.invisible {
  display: none;
  transform: rotateX(45deg);
}

.modal {
  transition: 0.5s;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.change-modal {
  transition: 0.5s;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content p {
  padding: 10px 0 5px 0;
  font-size: 20px;
}

.modal-content input {
  width: 100%;
  border-radius: 12px;
  outline: none;
  height: 40px;
  padding: 5px 15px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}

.modal-content input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}

.modal::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.modal::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.change-modal::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.change-modal::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.change-modal::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

.modal-content textarea {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  min-width: 100%;
  min-height: 40px;
  max-height: 150px;
  height: 40px;
  outline: none;
  overflow: hidden;
  padding: 7px 15px;
  border: none;
  font-size: 18px;
}

.modal-content select {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  height: 40px;
  border-radius: 12px;
  padding: 5px 15px;
  font-size: 18px;
}

.btn-cont {
  width: 100%;
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 198, 152);
  background: linear-gradient(90deg,
      rgba(0, 198, 152, 0.9613095238095238) 0%,
      rgba(174, 117, 255, 1) 100%);
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

.modal-content div {
  width: 700px;
}

.modal-content p {
  color: white;
  font-weight: bold;
  text-align: center;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
}

.btn-cont button {
  transition: 0.5s ease;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background: linear-gradient(100deg,
      rgb(57 129 205) 0%,
      rgba(32, 179, 209, 1) 81%,
      rgb(38 223 208) 100%);
}

.btn-cont button:active {
  scale: 0.9;
}

/* ADD MODAL */
.add_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.21);
}

.add_title {
  color: white;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.add_modal-content {
  position: relative;
  background-color: #fefefe;
  background: linear-gradient(90deg,
      rgba(0, 198, 152, 0.9613095238095238) 0%,
      rgba(174, 117, 255, 1) 100%);
  margin: 10% auto;
  padding: 20px;
  min-width: 400px;
  max-width: 500px;
  border-radius: 9px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}

.close {
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.add-executors {
  margin-bottom: 20px;
}

.add-executors label {
  display: block;
  font-size: 16px;

  font-weight: 300px;
  margin-bottom: 5px;
  color: white;
}

.add-executors input::placeholder {
  color: white;
}

.add-executors input,
.add-executors select {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);

  border-radius: 5px;
}

.add-executors input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}

.add-executors select {
  height: 30px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}

.icons-container .icon:nth-child(1) {
  background: url(../icons/icon1.png) no-repeat center / cover;
}

.icons-container .icon:nth-child(2) {
  background: url(../icons/icon4.png) no-repeat center / cover;
}

.icons-container .icon:nth-child(3) {
  background: url(../icons/icon8.png) no-repeat center / cover;
}

.icons-container .icon:nth-child(4) {
  background: url(../icons/icon3.png) no-repeat center / cover;
}

.icons-container .icon:nth-child(5) {
  background: url(../icons/icon7.png) no-repeat center / cover;
}

.icons-container .icon:nth-child(6) {
  background: url(../icons/icon9.png) no-repeat center / cover;
}

.selected-icon {
  border: 2px solid white;
}

.im {
  color: red;
  text-decoration: none;
  font-size: 20px;
  opacity: 0;
  transition: 0.5s ease;
}

.add-ava {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

.btn-submit {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #45a049;
}

.selected button {
  height: 22px;
  width: 25px;
  background: whitesmoke;
  color: black;
  cursor: pointer;

  margin: 0 3px 0 3px;
}

.is-deleted {
  display: none;
}

.multiSelect {
  display: flex;
  gap: 5px;
  align-items: stretch;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.selected-items {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 5px;
  overflow: auto;
}

.change__selected-items {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 5px;
  overflow: auto;
}

select {
  display: flex;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.selected-items .selected {
  position: relative;

  display: flex;
  align-items: center;

  width: 150px;
  min-width: 170px;
  gap: 5px;

  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.7);
}

.change__selected-items .selected {
  position: relative;

  display: flex;
  align-items: center;

  width: 150px;
  min-width: 170px;
  gap: 5px;

  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.7);
}

.selected-items::-webkit-scrollbar {
  height: 5px;
  width: 1px;
}

.selected-items::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.selected-items::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.change__selected-items::-webkit-scrollbar {
  height: 5px;
  width: 1px;
}

.change__selected-items::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.change__selected-items::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.selected-items .selected .del-btn {
  position: absolute;
  font-weight: bold;
  right: 5px;
  top: 0;
  border: none;
  background: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.change__selected-items .selected .del-btn {
  position: absolute;
  font-weight: bold;
  right: 5px;
  top: 0;
  border: none;
  background: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}